.featured-skills-block{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .featured-skills-inner-container{
        display: flex;
        flex-direction: column;
        max-width: 1920px;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .featured-skills-h2{
        margin-bottom: 1rem;
    }

    .item-name{
        font-weight: 900;
    }

    .featured-skills-h3{
        margin-top: 0rem;
    }

    .featured-skills {
        display: grid;
        grid-template-columns: repeat(6, 1fr); /* 1 row, 6 columns */
        gap: 2rem;
        margin-top: 3rem;
    
        @media screen and (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr); /* 2 rows, 3 columns */
        }
    
        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr); /* 3 rows, 2 columns */
        }
    }

    .featured-skill{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .featured-skill-image{
        height: 128px;
        width: 128px;
    }

}

.featured-skills-block.text-right{

    .featured-skills-h2{
        text-align: right;
        margin-bottom: 1rem;
    }

    .featured-skills-h3{
        text-align: right;
        margin-top: 0rem;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0; /* Start hidden */
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1; /* Fade in */
}

@media screen and (max-width: 768px){
    .featured-skills-block{
        text-align: center;
        .featured-skills-h2{
            
        }
        .featured-skills-h3{
            margin-top: 0rem;
            font-size: 1rem;
        }
        .featured-skills{
            margin-top: 1.5rem;
            gap: 8px;
        }

        .item-name{
            margin-bottom: 1.5rem;
        }
        .featured-skills-inner-container{
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    .featured-skills-block.text-right .featured-skills-h3{
        text-align: center;
    }

    .featured-skills-block.text-right .featured-skills-h2 {
        text-align: center;
    }

    .featured-skills-block .featured-skill-image{
        height: 64px;
        width: 64px;
    }
}