@import './base/colors.scss';

.footer-container{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $primary-color-darker;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1400px;
    align-items: center;
}

.socials {
    display: flex;
    gap: 1rem;
}

.social-icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: $text-color;
    transition: fill 0.15s;

    &:hover {
        fill: $secondary-color;
    }
}