@import './base/colors.scss';

header {
  position: fixed; /* Change to fixed position */
  top: 0;
  width: 100%; /* Ensure it spans the full width */
  z-index: 999;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
  transition: opacity 0.3s ease, visibility 0.3s ease 0.3s; /* Add transition with delay for visibility */
}

.header-container {
  background-color: $primary-color;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.header-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: auto;
  max-width: 1400px;
}

.logo-link {
  display: block;
}

.logo {
  height: auto;
  max-height: 8rem;
  width: 100%;
}

.logo-text {
  margin: 0;
  transition: transform 0.3s ease; 
}

.logo-text:hover {
  transform: scale(1.05); 
}

.header-nav {
  display: flex;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  margin-left: 1rem;
  margin-right: 1rem;
  position: relative;
}

.menu-item a {
  color: $text-color;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu-item a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px; /* Adjust the thickness of the underline */
  bottom: -3px; /* Adjust the position of the underline */
  left: 0;
  background-color: $secondary-color; /* Adjust the color of the underline */
  transition: width 0.3s ease; /* Adjust the duration of the transition */
}

.menu-item a:hover::after {
  width: 100%;
}

.header-container {
  background-color: transparent;
  transition: background-color 0.15s ease, box-shadow 0.15s ease, opacity 0.3s ease;

  &.scrolled {
    background-color: $primary-color-darker;
    box-shadow: 2rem rgba(0, 0, 0, 0.6);
    opacity: 1; /* Make visible when scrolled */
    visibility: visible; /* Make visible when scrolled */
    transition-delay: 0s, 0s, 0s; /* No delay for visibility when scrolled */
  }
}