@import './base/colors.scss';

.header-container{
    background-color: $primary-color;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    max-width: 1400px;
}

.logo{
    height: fit-content;
    max-height: 8rem;
    width: 100%;
}

.header-nav{
    display: flex;
}

.menu-items{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item{
    padding-left: 1rem;
    padding-right: 1rem;
}

.menu-item a{
    color: $text-color-light;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}